Repository gardener/dependency-watchdog, pull requests merged in 2022-11, with the labels that each got.

#69 Addressing review comments and fixing Dockerfile for dev-image-build job
  Dockerfile
  api/prober/types.go
  api/weeder/types.go
  controllers/testdata/config/prober-config.yaml
  docs/deployment/configure.md
  example/01-dwd-prober-configmap.yaml
  example/02-dwd-weeder-configmap.yaml
  example/03-dwd-prober-deployment.yaml
  example/04-dwd-weeder-deployment.yaml
  internal/docs/dependency-watchdog.md
  internal/docs/e2e-tests.md
  internal/prober/config.go
  internal/prober/scaler/flow_test.go
  internal/prober/scaler/scale.go
  internal/prober/scaler/scaler.go
  internal/prober/scaler/scaler_test.go
  internal/prober/scaler/testutils.go
  internal/prober/scaler/util.go
  internal/prober/scaler/util_test.go
  internal/prober/testdata/config_missing_optional_values.yaml
  internal/prober/testdata/valid_config.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, size/l

#70 Upgrading go version in pipeline, removing flaky scaler test
  .ci/pipeline_definitions
  .ci/test
  internal/prober/scaler/scaler_test.go
Labels: needs/review, reviewed/ok-to-test, size/m

#71 `Optional` as a boolean field and not a pointer in prober api
  api/prober/types.go
  internal/prober/config.go
  internal/prober/config_test.go
  internal/prober/scaler/testutils.go
  internal/prober/scaler/util.go
  internal/prober/testdata/config_missing_voluntary_values.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, size/xs

#72 change golangci go version to 1.19
  .golangci.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, size/xs
